@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);

html, body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 0.98em;
}
body {
  margin: auto;
  max-width: 38em;
}
a {
  color: #4b5e83;
  text-decoration: none;
}
a:hover {
  color: #29303d;
}
h2 {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  color: #1f1d19;
  font-size: 1.4em;
  margin: .8em 0 .5em;
}
p {
  margin: 0 0 .7em 0;
  max-width: 38em;
}
pre {
  padding-left: 2em;
}
pre code {
  font-family: "Source Code Pro", Consolas, Monaco, monospace;
}
#content {
  margin: 0 1rem;
  padding-bottom: 8em;
}

.article {
  font-size: .9em;
  margin-left: 2.2rem;
  margin-bottom: .8em;
}
.article strong {
  font-weight: normal;
  color: #444466;
}
.article h3 {
  display: inline-block;
  font-size: 1em;
  color: #423f37;
  margin: 0;
  cursor: pointer;
}
.year, .date {
  display: inline-block;
  font-weight: 400;
  font-size: .85em;
  color: #817B6B;
}
.year { width: 2.2rem; margin-left: -2.2rem; }
.date { width: 4rem;   margin-left: -4rem; }

.details {
  display: none;
  margin-bottom: .4em;
  font-size: .95em;
}
.doi {
  font-family: monospace;
}


ul.nobullet {
  padding-left: 0;
  margin-top: 0;
}
ul.nobullet li {
  list-style-type: none;
  margin-bottom: .7em;
}

.comment {
  font-size: 90%;
  margin-bottom: .2em;
  margin-left: 1em;
}
#post {
  margin-bottom: 3em;
  color: #2c2a25;
}
#post p {
  margin: 1em 0 1em 0;
}
#post h1 {
  margin-bottom: 0;
  color: #423f37;
  font-size: 1.6em;
}
#post h2 {
  margin-top: 1.5em;
  font-weight: 600;
  font-size: 1.3em;
}
ul.posts li a {
  font-weight: 600;
}
ul.posts li {
  margin-left: 4rem;
}

time {
  color: #c7c2b8;
  font-size: .8em;
}

header {
  position: relative;
  font-weight: 300;
  font-size: 1.4em;
  margin: 1.5rem 1rem;
  padding-bottom: .25em;
  border-bottom: 1px solid #f0f0f0;
}
.social {
  position: absolute;
  top: .15rem;
  margin-left: .5em;
  font-size: 1.6rem;
  display: inline-block;
}
.social a {
  margin-bottom: -.2em;
}

header a       { color: #b0b0b0; }
header a:hover { color: #404040; }
header .social a       { color: #d0d0d0; }
header .social a:hover { color: #606060; }

footer {
  color: #555;
  font-size: .8em;
  margin: 2.5em 0 1.5em;
  padding-top: 1em;
  padding-bottom: 5em;
  border-top: 1px solid #ddd;
}

.footnotes {
  font-size: 86%;
  border-top: 1px solid #aaa;
  margin-top: 3em;
}
.footnotes ol {
  padding-inline-start: 2em;
}