<!doctype html>
<html>
   <head>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
     <meta name="viewport" content="width=device-width">
     <title>{{ page.title }}</title>
     <meta name="description" content="Profesor en la UPC, Programador, Creador de minidosis.org">
     <meta name="author" content="Pau Fernández">

     <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600" 
           rel="stylesheet" type="text/css">
     <link rel="stylesheet" href="/css/main.css">

     <link href="http://pauek.info/atom.xml" rel="alternate"
           title="Pau Fernández"
           type="application/atom+xml">

     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
   </head>
<body>

<header>
  <a href="/">PAU FERNÁNDEZ</a>
</header>

{{ content }}

<footer>
  <table>
    <tr><td>Twitter</td><td><a href="http://twitter.com/pauek">@pauek</a></td></tr>
    <tr><td>Google+&nbsp;</td><td><a href="http://gplus.to/pauek">+Pau Fernández</a></td></tr>
    <tr><td>GitHub</td><td><a href="http://github.com/pauek">github.com/pauek</a></td></tr>
  </table>
</footer>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36758965-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>

</html>
