<!doctype html>
<html>
   <head>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
     <meta name="viewport" content="width=device-width">

     <title>{{ page.title }}</title>

     <meta name="author" content="Pau Fernández">
     <meta name="description" content="Profesor en la UPC, Programador, Creador de minidosis.org">


     <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Source+Sans+Pro&display=swap" rel="stylesheet">

     <link rel="stylesheet" href="/css/main.css">
     <link href="/webfonts/ss-social.css" rel="stylesheet" />


     <link href="https://feeds.feedburner.com/pauek" 
           rel="alternate"
           title="Pau Fernández" 
           type="application/atom+xml">

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
   </head>
<body>

<header>
  <div class="whoami">
    <a href="/"><img src="/img/pauek.jpg" /></a>
    <a href="/">Pau Fernández</a>
  </div>
  <div class="social">
    <a href="https://youtube.com/paueky" class="youtube-icon icon ss-social-circle ss-youtube"></a>
    <a href="https://twitter.com/pauek" class="twitter-icon icon ss-social-circle ss-twitter"></a>
    <a href="https://github.com/pauek" class="github-icon icon ss-social-circle ss-octocat"></a>
    <a href="https://www.linkedin.com/in/pau-fern%C3%A1ndez-5b7688aa/" class="linkedin-icon icon ss-social-circle ss-linkedin"></a>
  </div>
</header>

{{ content }}

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36758965-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>

</html>
